@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title, .large-text {
  font-size: 16px;
  font-weight: 800;
}

.light-text-color {
  color: var(--grey);
}

.sub-title, .main-text, #search-city-input {
  font-size: 13px;
  font-weight: 700;
}